<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista SocketIO</title>
</head>
<body>
    <h1>Welcome</h1>
    <form>
        <button type="submit" onclick="enviarPorSocket()">Enviar</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        socket.on('mensaje', data => {
            console.log(data)
            socket.emit('msgCli', 'bien y vos?')
        })

        function enviarPorSocket() {
            console.log('Se envio formulario')
        }
    </script>
</body>
</html>